.container {
    width: 600px;
    height: 600px;
}

input[type="text"]{
    width: 100%;
}

ul {
    list-style-type: none;
}

ul li {
    cursor: pointer;
}

i[class$="trash"]{
    float: right;
    margin-top: 2px;
    padding: 3px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 2px 2px 2px 0,5px grey;
}
